
table {
    text-align: center;
}

/*header*/
.logo-header{
    height: 3rem;
    width: 15rem;
}
.header{
    background-color: #d0d0b4;
}
.btn-primary{
    background-color: #d12d90;
}
.btn-primary:hover{
    background-color: #ce0384;
}
#input{
    margin-bottom: .5rem;
}
/*footer*/
footer{
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
    background-color: #d0d0b4;
}
footer > a {
    margin-left: 45vw;
    color : #2a2a28;
    text-decoration: none;

}
footer > a:hover {
    color: #2a2a28;
}
.copyright{
    text-align: center;
}
.copyright a:hover{
    color : #d0d0b4;
}
a.mail{
    color: #d12d90;
}


